.button {
    flex-shrink: 0;
    padding-block: toRem(13);
    padding-inline: toRem(42);
    text-transform: capitalize;
    font-size: toRem(16);
    line-height: 1.375;
    font-weight: 800;
    border-radius: toRem(3);
    border: toRem(1) solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;

    &.button--icon {
        display: flex;
        column-gap: toRem(10);
    }

    &.button--oval {
        border-radius: toRem(40);
    }
    &.button--yellow {
        color: $mainDarkColor;
        background-color: $yellowColor;
    }
    &.button--mint {
        color: $whiteColor;
        background-color: $mintColor;
    }
    &.button--gray {
        color: $whiteColor;
        background-color: $darkColor-80;
    }
    &.button--white {
        background-color: $whiteColor;
    }

    @media (any-hover: hover) {
        &.button--yellow:hover {
            background-color: #fbcd02;
        }
        &.button--mint:hover {
            background-color: #4bb3a0;
        }
        &.button--gray:hover {
            background-color: #39424a;
        }
        &.button--white:hover {
        }
    }
}

.section-header {
    display: flex;
    flex-direction: column;
    row-gap: toRem(19);
    &.section-header--main {
        row-gap: toRem(22);
    }
    // .section-header__title

    &__title {
        font-family: "Volkhov", serif;
        color: $mainDarkColor;
        font-size: clamp(1.75rem, 1.6071rem + 0.7143vw, 2.25rem); /* 36/28>1440-320 */
        line-height: 1.2;
        font-weight: 700;
        text-transform: capitalize;
        text-wrap: balance;
        .section-header--main & {
            font-size: clamp(2.375rem, 2.1964rem + 0.8929vw, 3rem); /* 48/38>1440-320 */
            line-height: 1.29;
            text-shadow: 0 toRem(5) toRem(13) rgba(255, 255, 255, 0.4);
        }
    }

    // .section-header__text

    &__text {
        font-size: toRem(16);
        line-height: 1.56;
        color: $darkColor-60;
        .section-header--main & {
            text-shadow: 0 toRem(1) toRem(20) $whiteColor;
            color: $mainDarkColor;
        }
    }
    &.section-header--centered {
        align-items: center;
        text-align: center;
    }
}
