.footer {
    background-color: #13253f;
    color: $darkColor-60;
    font-size: toRem(15);
    line-height: 1.267; /* 19/15 */

    // .footer__container

    &__container {
        display: flex;
    }
    // .footer__top
    &__top {
        & .footer__container {
            padding-block-start: clamp(2.5rem, 1.7857rem + 3.5714vw, 5rem); /* 80/40>1440-320 */
            padding-block-end: clamp(2.5rem, 1.4107rem + 5.4464vw, 6.3125rem); /* 101/40>1440-320 */
            gap: toRem(20);
            @media (max-width: toRem(479.98)) {
                flex-direction: column;
                //   justify-content: flex-start;
            }
            @media (max-width: toRem(799.98)) {
                flex-wrap: wrap;
            }
            @media (min-width: toRem(780)) {
                gap: toRem(30);
            }
        }
    }

    // .footer__actions-form

    &__actions-form {
        flex: 0 1 17.95%;
        min-width: toRem(210);
    }

    // .footer__main-menu

    &__main-menu {
        flex: 1 1 58.12%;
        @media (max-width: toRem(799.98)) {
            min-width: 100%;
            order: -1;
        }
    }

    // .footer__main-menu-list

    &__main-menu-list {
        display: flex;
        justify-content: space-evenly;
        gap: toRem(30);
        @media (max-width: toRem(799.98)) {
            flex-wrap: wrap;
        }
    }

    // .footer__main-menu-item
    &__main-menu-item {
        @media (max-width: toRem(479.98)) {
            flex-grow: 1;
        }
    }

    &__main-menu-item &__block-header {
        margin-block-end: toRem(11);
    }

    &__block-header,
    [class$="__block-header"] {
        color: rgba($color: $whiteColor, $alpha: 0.8);
        font-weight: 700;
    }

    // .footer__sub-menu-list

    &__sub-menu-list {
        min-width: max-content;
    }

    // .footer__sub-menu-item

    &__sub-menu-item {
        &:not(:last-child) {
            margin-block-end: toRem(11);
        }
    }

    // .footer__sub-menu-link

    &__sub-menu-link {
        @include hover-line;
        text-transform: capitalize;
    }

    // .footer__info

    &__info {
        flex: 1 1 18.8%;
        min-width: 30%;
        & > *:not(:last-child) {
            margin-block-end: toRem(26);
        }
    }

    // .footer__info-row

    &__info-row:has(.footer__payment-methods) &__block-header {
        margin-block-end: toRem(20);
    }
    &__info-row:has(.footer__about-company-text) &__block-header {
        margin-block-end: toRem(8);
    }

    // .footer__payment-methods

    &__payment-methods {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(5);
    }

    // .footer__payment-methods-item

    &__payment-methods-item {
        width: toRem(39.87);
        aspect-ratio: 39.87 / 26;
        border-radius: toRem(5);
        overflow: hidden;
    }

    // .footer__payment-methods-image

    &__payment-methods-image {
        width: 100%;
        min-height: 100%;
        aspect-ratio: 39.87 / 26;
        object-fit: contain;
    }
    // .footer__bottom

    &__bottom {
        background-color: rgb(#000000, 0.2);
        & .footer__container {
            flex-wrap: wrap-reverse;
            align-items: center;
            justify-content: center;
            gap: toRem(20) toRem(40);
            padding-block: toRem(10);
        }
    }
    &__copyright {
        flex-grow: 1;
        @media (max-width: toRem(599.98)) {
            min-width: 100%;
            text-align: center;
        }
    }
}
.actions-form {
    flex-basis: toRem(210);
    flex-shrink: 1;
    // .actions-form__row

    &__row {
        display: flex;
        flex-direction: column;
        row-gap: toRem(10);
        &:not(:last-child) {
            margin-block-end: toRem(12);
        }
    }

    // .actions-form__select

    &__select {
        appearance: none;
        border-radius: toRem(3);
        border: toRem(1) solid rgba($color: $whiteColor, $alpha: 0.2);
        background-color: #13253f;
        padding-block: toRem(13);
        padding-inline-start: toRem(19);
        padding-inline-end: toRem(14);
        transition: all 0.4s ease;
        &:focus {
            color: $whiteColor;
            border-color: $whiteColor;
        }
        @media (any-hover: hover) {
            &:hover {
                border-color: $whiteColor;
                color: $whiteColor;
            }
        }
        @supports not (appearance: base-select) {
            color: inherit;
            font-family: inherit;
            font-weight: inherit;
            background: url("../assets/images/icons/dropdown-arrow.svg") 92% center / toRem(9.63) toRem(5.8) no-repeat;
        }
        @supports (appearance: base-select) {
            background: none;
            &,
            &::picker(select) {
                appearance: base-select;
                background-color: #13253f;
                color: inherit;
                will-change: background, border-color, color;
                &:open {
                    color: $whiteColor;
                    border-color: currentColor;
                }
                @media (any-hover: hover) {
                    &:hover {
                        color: $whiteColor;
                    }
                    &:hover::picker-icon {
                        background: $whiteColor;
                    }
                }
            }
            &::picker(select) {
                border-radius: toRem(3);
                top: anchor(100%);
                left: anchor(0);
                opacity: 0;
                transition: all 0.4s allow-discrete;
            }
            &:open::picker(select) {
                opacity: 1;
                @starting-style {
                    opacity: 0;
                }
            }

            &::picker-icon {
                color: inherit;
                width: toRem(20);
                transform-origin: center;
                transition: transform 0.4s ease;
                content: "";
                background: currentColor;
                mask: url("../assets/images/icons/dropdown-arrow.svg") center/100% no-repeat;
            }
            &:open::picker-icon {
                transform: rotate(-180deg);
            }

            selectedcontent,
            option {
                display: flex;
                align-items: center;
                column-gap: toRem(3);
            }
            option {
                padding-block: toRem(13);
                padding-inline-start: toRem(19);
                padding-inline-end: toRem(14);
            }
            option::checkmark {
                display: none;
            }

            & .actions-form__option-icon {
                width: toRem(20);
                aspect-ratio: 20 / 13.17;
            }
        }
    }
}
.socials {
    display: flex;
    gap: toRem(10);

    // .socials__link

    &__link {
        position: relative;
        width: toRem(40);
        height: toRem(40);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $whiteColor;
        font-size: toRem(18.18);
        transition: color 0.4s ease;
        &::before {
            vertical-align: middle;
            transition: transform 0.5s ease;
        }
        &::after {
            content: "";
            position: absolute;
            inset-inline-start: 50%;
            inset-inline-end: 50%;
        }
        &.socials__link--facebook {
            background-color: #4b69b1;
        }
        &.socials__link--twitter {
            background-color: #37b1e2;
        }
        &.socials__link--instagram {
            background-color: #c23772;
        }
        &.socials__link--pinterest {
            background-color: #e83f3a;
        }
        @media (any-hover: hover) {
            &:hover::before {
                transform: rotateY(360deg);
            }
            &:hover.socials__link--facebook {
                background-color: #29395f;
            }
            &:hover.socials__link--twitter {
                background-color: #237292;
            }
            &:hover.socials__link--instagram {
                background-color: #86254e;
            }
            &:hover.socials__link--pinterest {
                background-color: #bb2621;
            }
        }
    }
}
