.header {
    position: fixed;
    z-index: 100;
    inset-inline-start: 0;
    inset-block-start: 0;
    min-width: 100%;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        inset-inline-start: 0;
        inset-block-start: 0;
    }
    &.header--light {
        color: $whiteColor;
    }
    &.header--dark {
        color: $darkColor-80;
    }
    // .header__container

    &__container {
        max-width: toRem(1380);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        column-gap: toRem(40);
        padding-block: toRem(20);
    }

    // .header__logo

    &__logo {
        font-family: "Nico-Moji", sans-serif;
        font-weight: 400;
        font-size: toRem(26);
        line-height: 0.85em;
    }

    // .header__navigation

    &__navigation {
        flex-grow: 1;
        justify-content: flex-end;
    }
}
.actions {
    display: flex;
    align-items: center;
    column-gap: toRem(30);
}
.navigation {
    display: flex;
    align-items: center;

    // .navigation__menu

    &__menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: toRem(20) toRem(30);
        font-size: toRem(15);
        line-height: 1.47;
        text-transform: capitalize;
        @media (max-width: toRem(991.68)) {
            flex-direction: column;
            align-items: flex-end;
            font-size: toRem(28);
            text-align: end;
        }
    }

    // .navigation__menu-item

    &__menu-item {
        flex-shrink: 0;
    }

    // .navigation__menu-link

    &__menu-link {
        @include hover-line;
    }
}
.burger-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: toRem(6);
    width: toRem(30);
    transition: row-gap 0.3s ease;
    &::before,
    &::after {
        content: "";
        height: toRem(4);
        background-color: currentColor;
        border-radius: toRem(5);
        transition:
            width 0.3s ease,
            transform 0.3s ease;
        transform-origin: center;
    }
    &::before {
        width: 100%;
    }
    &::after {
        width: 58%;
    }
    &.burger-button--open {
        row-gap: 0;
    }
    &.burger-button--open::after {
        width: 100%;
        transform: rotate(45deg) translateY(-70%);
    }

    &.burger-button--open::before {
        transform: rotate(-45deg) translateY(70%);
    }

    @media (min-width: toRem(992)) {
        display: none;
    }
}
.burger-menu {
    background-color: $mintColor;
    min-width: 50%;
    height: 100svh;
    position: fixed;
    inset-inline-start: 100%;
    inset-block-start: 0;
    padding-inline: toRem(30);
    padding-block-start: var(--header-height);
    padding-block-end: toRem(30);
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    &:has(.navigation.active) {
        transform: translateX(-100%);
    }
    & > *:not(:last-child) {
        margin-block-end: toRem(20);
    }
    & .actions {
        background-color: inherit;
        position: sticky;
        z-index: 1;
        inset-block-start: toRem(0);
        padding-block: toRem(15);
        .actions__button {
            flex-grow: 1;
        }
    }
    @media (max-width: toRem(767.98)) {
        min-width: 100%;
    }
}
