.hero {
    min-height: 100svh;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;

    // .hero__container

    &__container {
        margin-block-start: calc(-1 * var(--header-height) + toRem(50));
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .hero__content-wrapper

    &__content-wrapper {
        padding-block-start: var(--header-height);
        width: 100%;
        position: relative;
        flex-grow: 1;
        background: url("../assets/images/hero/hero__bg.jpg") center/cover no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            inset-block-start: toRem(70);
            inset-inline-start: 0;
            transform: translateX(-29.60452%); /* -262/885 */
            width: 76.875%; /* 1107/1440 */
            aspect-ratio: 1107 / 589;
            border-radius: 100%;
            background: radial-gradient(50% 50% at 50% 50%, rgba(13, 98, 103, 0.4) 0%, rgba(13, 98, 103, 0) 100%);
            // background-color: aqua;
        }
    }
    //hero__video
    &__video {
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: 0;
        width: 100%;
        height: 100%;
        // background-color: aqua;
    }

    // .hero__section-header

    &__section-header {
        max-width: toRem(737);
        &.section-header .section-header__text {
            max-width: toRem(569);
        }
        &:not(:last-child) {
            margin-block-end: toRem(16);
        }
    }

    // .hero__play-button

    &__play-button {
        flex-shrink: 0;
        text-transform: capitalize;
        color: $mainDarkColor;
        font-size: toRem(20);
        font-weight: 700;
        display: flex;
        align-items: center;
        column-gap: toRem(10);
    }

    // .hero__play-button-icon

    &__play-button-icon {
        display: inline-block;
        width: toRem(100);
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: relative;
        &::before,
        &::after {
            content: "";
            aspect-ratio: 1;
            border-radius: inherit;
            position: absolute;
            z-index: 0;
            inset-inline-start: 50%;
            inset-block-start: 50%;
            transform: translate(-50%, -50%);
            background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        }
        &::before {
            width: 100%;
        }
        &::after {
            width: 71.43%;
        }
    }
    //hero__play-button-image
    &__play-button-image {
        font-size: toRem(11);
        width: 42.86%;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: $mintColor;
        background-color: $whiteColor;
        position: relative;
        z-index: 1;
        &::before {
            transform: translateX(12%);
        }
    }

    //hero__play-button-text
    &__play-button-text {
        line-height: 1.25; /* 25/20 */
        font-weight: 700;
    }

    // .hero__search-form

    &__search-form {
        position: relative;
        min-height: toRem(90);

        width: 100%;
        @media (min-width: toRem(992)) {
            width: max(69.4444vw, toRem(1000)); /* 1000/1440 */
            margin-top: toRem(-45);
        }
    }
}

.search-form {
    padding-block: toRem(18);
    padding-inline: clamp(0.625rem, 0.4464rem + 0.8929vw, 1.25rem);
    border-radius: toRem(10);
    box-shadow: toRem(0) toRem(10) toRem(30) toRem(0) rgba(123, 188, 176, 0.5);
    background: $whiteColor;
    display: flex;
    gap: clamp(0.625rem, 0.4464rem + 0.8929vw, 1.25rem) toRem(20); /* 20/10>1440-320 */
    @media (max-width: toRem(991.98)) {
        flex-direction: column;
    }
    // .search-form__cell

    &__cell {
        flex-shrink: 1;
        flex-grow: 1;
        min-width: min-content;
        position: relative;
        padding-inline-end: toRem(10);
        color: $mintColor;
        font-size: toRem(15);
        line-height: 1.667;
        display: flex;
        column-gap: toRem(10.5);
        &:not(:last-of-type) {
            &::after {
                content: "";
                width: 95%;
                height: toRem(1);
                background-color: $darkColorBorder-10;
                position: absolute;
                inset-inline-end: 50%;
                inset-block-end: 0;
                transform: translateX(50%);
            }
        }
        @media (min-width: toRem(992)) {
            &:has(#location) {
                flex-basis: toRem(329);
                min-width: 34.2708%; /* 329/960 */
            }
            &:has(#guests) {
                flex-basis: toRem(223);
                // min-width: 23.9583%; /* 230/960 */
            }
            &:has(#tour-date) {
                flex-basis: toRem(200);
            }
            &:not(:last-of-type) {
                &::after {
                    content: "";
                    width: toRem(1);
                    height: toRem(20);
                    inset-inline-end: 0;
                    inset-block-end: auto;
                    inset-block-start: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    // .search-form__label

    &__label {
        font-weight: 800;
        text-transform: capitalize;
    }

    // .search-form__input

    &__input {
        font-weight: 600;
        line-height: 1.786; /* 25/14 */
        &::placeholder {
            font-style: italic;
        }
    }

    // .search-form__button

    &__button {
        box-shadow: 0 toRem(8) toRem(20) 0 rgba($color: $yellowColor, $alpha: 0.5);
        padding-block: toRem(15);
        @media (min-width: toRem(992)) {
            flex-basis: toRem(150);
        }
    }
}

.popular-cities {
    // .popular-cities__container

    &__container {
        padding-block-start: clamp(2.5rem, 1.8929rem + 3.0357vw, 4.625rem); /* 74/40>1440-320 */
        padding-block-end: clamp(3.125rem, 2.1071rem + 5.0893vw, 6.6875rem); /* 107/50>1440-320 */
    }

    // .popular-cities__header

    &__header {
        max-width: toRem(696);
        margin: 0 auto;
        &:not(:last-child) {
            margin-block-end: toRem(36);
        }
    }

    // .popular-cities__select-form

    &__select-form {
        &:not(:last-child) {
            margin-block-end: toRem(34);
        }
    }

    // .popular-cities__banner

    &__banner {
        &:not(:last-child) {
            margin-block-end: toRem(30);
        }
    }

    // .popular-cities__collection

    &__collection {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(toRem(270), 1fr));
        gap: toRem(30);
    }
}

.select-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: toRem(10);
    // .select-form__label

    &__label {
        flex-shrink: 0;
        flex-basis: toRem(130);
        min-width: toRem(130);
        @extend .button;
        @extend .button--oval;
        padding-inline: toRem(13);
        padding-block: toRem(12);
        border-color: $mintColor;
        background-color: $whiteColor;
        font-weight: 700;
        font-size: toRem(14);
        line-height: 1.286; /* 18/14 */
        overflow: hidden;
        position: relative;
        &:has(:checked) {
            background-color: $mintColor;
            color: $whiteColor;
        }
    }

    // .select-form__checkbox

    &__checkbox {
        border: 0;
        width: toRem(1);
        height: toRem(1);
        margin: toRem(-1);
        overflow: hidden;
        padding: 0;
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: 0;
    }
}
.city-banner {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    // .city-banner__image-wrapper

    &__image-wrapper {
        width: 100%;
        aspect-ratio: 250 / 120;
        @media (min-width: toRem(768)) {
            aspect-ratio: 1170 / 500;
        }
    }

    // .city-banner__image

    &__image {
        width: 100%;
        min-height: 100%;
        aspect-ratio: 250 / 120;
        @media (min-width: toRem(768)) {
            aspect-ratio: 1170 / 500;
        }
    }

    // .city-banner__details

    &__details {
        padding-inline: toRem(20);
        padding-block-start: toRem(30);
        padding-block-end: toRem(30);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: toRem(20);
        border-radius: toRem(3);
        box-shadow: 0px toRem(4) toRem(20) 0px rgba(0, 0, 0, 0.12);
        background: rgba(249, 253, 255, 1);
        @media (min-width: toRem(768)) {
            max-width: 94.8718%; /* 1110/1170 */
            margin-block-start: toRem(-80);
        }

        @media (min-width: toRem(992)) {
            gap: toRem(30);
            flex-wrap: nowrap;
            padding-inline: toRem(50);
            padding-block-start: toRem(49);
            padding-block-end: toRem(60);
        }
    }

    // .city-banner__header

    &__header {
        flex-grow: 1;
        min-width: 100%;
        @media (min-width: toRem(992)) {
            max-width: toRem(464);
            flex-shrink: 1;
            flex-basis: toRem(464);
            min-width: toRem(320);
        }
    }

    // .city-banner__city-name

    &__city-name {
        @extend .section-header__title;
        font-size: clamp(2rem, 1.4286rem + 2.8571vw, 4rem); /* 64/32>1440-320 */
        line-height: 1.297; /* 83/64 */
        color: $mainDarkColor;
        &:not(:last-child) {
            margin-block-end: toRem(10);
        }
    }

    // .city-banner__city-info

    &__city-info {
        @extend .section-header__text;
    }

    // .city-banner__city-features

    &__city-features {
        align-self: center;
        min-width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: toRem(10);
        @media (min-width: toRem(768)) {
            max-width: toRem(430);
        }
        @media (min-width: toRem(992)) {
            min-width: auto;
            flex-wrap: wrap-reverse;
        }
    }

    // .city-banner__features-item

    &__features-item {
        display: flex;
        align-items: center;
        column-gap: toRem(5);
        line-height: 1.2857; /* 18/14 */
        font-weight: 700;
        text-transform: capitalize;
        padding-inline: toRem(19.5);
        padding-block: toRem(11);
        border-radius: toRem(3);
        box-shadow: 0px toRem(4) toRem(10) rgba(0, 0, 0, 0.08);
        background: rgba(255, 255, 255, 1);
        &::before {
            font-size: toRem(16);
            font-weight: 400;
        }
        // .city-banner__features-item--purple

        &.city-banner__features-item--purple {
            color: #d176e0;
        }

        // .city-banner__features-item--mint

        &.city-banner__features-item--mint {
            color: $mintColor;
        }

        // .city-banner__features-item--yellow

        &.city-banner__features-item--yellow {
            color: #e4b613;
        }

        // .city-banner__features-item--red

        &.city-banner__features-item--red {
            color: #fc3131;
        }

        // .city-banner__features-item--blue

        &.city-banner__features-item--blue {
            color: #5c9bde;
        }
    }
}
.trending {
    background: url("../assets/images/trending/trending-bg.jpg") center/cover no-repeat;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: 0;
        width: 100%;
        min-height: 100%;
        backdrop-filter: blur(15px);
        background: linear-gradient(
            134.71deg,
            rgba(71.55, 4.7, 125.38, 0.5) -1.035%,
            rgba(42.27, 220.96, 230.56, 0.5) 100%
        );
    }
    // .trending__container

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        gap: toRem(30);
        padding-block-start: clamp(2.5rem, 1.8036rem + 3.4821vw, 4.9375rem); /* 79/40>1440-320 */
        padding-block-end: clamp(2.5rem, 1.7679rem + 3.6607vw, 5.0625rem); /* 81/40>1440-320 */
        @media (max-width: toRem(767.98)) {
            flex-wrap: wrap-reverse;
        }
    }

    &__image-block {
        flex-basis: 50%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: toRem(30);
    }
    // .trending__image-wrapper

    &__image-wrapper {
        max-width: toRem(405);
        position: relative;
        aspect-ratio: 405 /429;
        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            mask-image: url("../assets/images/trending/shape-clipper.svg");
            mask-size: cover;
        }
        &::before {
            inset-block-start: toRem(10.5);
            inset-inline-start: toRem(11.34);
            transform: rotate(-21.42deg);
            background-color: #fff1b5;
        }
        &::after {
            inset-block-start: toRem(-10.5);
            inset-inline-start: toRem(27);
            transform: rotate(30deg);
            background-color: #d0fff6;
        }
    }

    // .trending__image

    &__image {
        width: 100%;
        height: 100%;
        mask-image: url("../assets/images/trending/shape-clipper.svg");
        mask-size: cover;
        position: relative;
        z-index: 2;
    }

    // .trending__content

    &__content {
        flex: 1 1 50%;
        padding-inline: toRem(21);
        padding-block-start: toRem(19);
        & > *:not(:last-child) {
            margin-block-end: clamp(1.875rem, 1.5179rem + 1.7857vw, 3.125rem); /* 50/30>1440-320 */
        }
    }

    // .trending__header

    &__header {
        max-width: toRem(505);
        color: $whiteColor;
        row-gap: toRem(10);
        & .section-lable {
            color: $mainDarkColor;
        }
        & .section-header__title {
            color: inherit;
            line-height: 1.278; /* 46/36 */
        }

        & .section-header__text {
            color: inherit;
        }
        & .section-header__additional-info {
            &:not(:last-child) {
                margin-block-end: toRem(10);
            }
        }
    }

    //

    &__buttons {
        color: $whiteColor;
        display: flex;
        align-items: center;
        flex-wrap: wrap-reverse;
        gap: toRem(10);

        @media (max-width: toRem(767.98)) {
            justify-content: flex-end;
        }
        @media (min-width: toRem(992)) {
            column-gap: toRem(20);
            @include children-separator(20);
        }
    }
    // /.trending__buttons-wrapper
    &__buttons-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @media (max-width: toRem(767.98)) {
            flex-grow: 1;
        }
    }

    // .trending__button

    &__button {
        @media (max-width: toRem(767.98)) {
            flex-grow: 1;
            padding-inline: toRem(10);
        }
        @media (min-width: toRem(992)) {
            flex-basis: toRem(200);
        }
    }

    // .trending__actions

    &__actions {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: toRem(6);
    }

    // .trending__actions-button

    &__actions-button {
        width: toRem(50);
        height: toRem(50);
        border-radius: 50%;
        border: toRem(1) solid rgba($color: $whiteColor, $alpha: 0.2);
        background-color: rgba($color: $whiteColor, $alpha: 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        transition:
            color 0.3s ease,
            border-color 0.3s ease;
        @media (any-hover: hover) {
            &:hover {
                color: $yellowColor;
                border-color: $yellowColor;
            }
        }
    }
}

.tour-info {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(15) toRem(10);
    line-height: 1.2857; /* 18/14 */
    @include children-separator;

    // .tour-info__location

    &__location {
        display: flex;
        align-items: center;
        column-gap: toRem(5);
    }

    // .tour-info__rating

    &__rating {
        display: flex;
        align-items: center;
        column-gap: toRem(3);
    }
}

.featured {
    padding-block-start: clamp(2.5rem, 1.8929rem + 3.0357vw, 4.625rem); /* 74/40>1440-320 */
    @media (min-width: toRem(992)) {
        padding-block-end: toRem(30);
    }
    // .featured__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: toRem(20) toRem(30);
    }

    // .featured__header

    &__header {
        max-width: toRem(538);
    }

    // .featured__slider-controls

    &__slider-controls {
        margin-left: auto;
        display: flex;
        align-items: center;
        column-gap: toRem(10);
    }

    // .featured__slider-button-prev
    &__slider-button-next,
    &__slider-button-prev {
        width: toRem(50);
        height: toRem(50);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: toRem(1) solid rgba(255, 218, 50, 1);
        box-shadow: 0 toRem(8) toRem(20) 0 rgba(255, 218, 50, 0.5);
        &:not(:disabled) {
            background-color: $yellowColor;
        }
    }

    // .featured__slider-button-next

    &__slider-button-prev::before {
        transform: rotate(180deg);
    }

    // .featured__slider

    &__slider {
        &.swiper {
            margin: 0 auto;
        }
        & .swiper-wrapper {
            padding-block: clamp(1.875rem, 1.5179rem + 1.7857vw, 3.125rem); /* 50/30>1440-320 */
        }
        & .swiper-slide {
            width: toRem(270);
        }
    }
}
.mob-app {
    background: url("../assets/images/mob-app/app-bg.jpg") center/cover no-repeat;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        inset-block-start: 0;
        inset-block-start: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(toRem(10));
        background: linear-gradient(103.57deg, rgba(72, 5, 125, 0.7) -1.03%, rgba(42, 221, 231, 0.7) 100%);
    }
    // .mob-app__container

    &__container {
        position: relative;
        padding-block: clamp(2.5rem, 1.7857rem + 3.5714vw, 5rem); /* 80/40>1440-320 */
        display: flex;

        align-items: center;
        justify-content: center;
        gap: toRem(30) clamp(1.875rem, 1.0714rem + 4.0179vw, 4.6875rem); /* 75/30>1440-320 */
        @media (max-width: toRem(991.98)) {
            flex-wrap: wrap-reverse;
        }
    }

    // .mob-app__image-wrapper

    &__image-wrapper {
        flex-basis: toRem(440);
        min-width: toRem(240);
        aspect-ratio: 440 / 560;
        position: relative;
    }

    // .mob-app__image

    &__image {
        position: absolute;
        width: 66.8182%; /* 294/440 */
        aspect-ratio: 294 / 520;
        border-radius: toRem(20);
        background: #c4c4c4;
        &:first-of-type {
            inset-inline-start: 0;
            inset-block-start: 0;
            z-index: 1;
        }
        &:last-of-type {
            inset-inline-end: 0;
            inset-block-end: 0;
        }
    }

    // .mob-app__content

    &__content {
        max-width: toRem(530);
        & > *:not(:last-child) {
            margin-block-end: clamp(1.875rem, 1.6964rem + 0.8929vw, 2.5rem); /* 40/30>1440-320 */
        }
    }

    // .mob-app__heade

    &__header {
        color: $whiteColor;
        .section-header__title,
        .section-header__text {
            color: inherit;
        }
        .section-header__additional-info {
            margin-top: toRem(-16);
        }
    }

    // .mob-app__actions

    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: toRem(10);
    }

    // .mob-app__actions-button

    &__actions-button {
        flex-shrink: 1;
        min-width: max-content;
        flex-grow: 0.7;
        flex-basis: toRem(260);
        padding-inline: toRem(10);
        line-height: 1.25; /* 20/16 */
        text-transform: capitalize;
        &::before {
            font-size: toRem(26);
        }
        @media (min-width: toRem(992)) {
            padding-block: toRem(22);
        }
    }
}
