$maxWidth: 1440;
$minWidth: 320;
$containerWidth: 1360;
$containerPadding: 10;
$maxWidthContainer: $containerWidth + $containerPadding * 2;

$laptop: 1199.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$smallMobile: 479.98px;

$mainDarkColor: #1c2b38;
$darkColor-60: #778088;
$darkColor-80: #495560;
$darkColorBorder-10: #e8eaeb;
$blueColor: #59a9fe;
$blueColorDark: #13253f;
$pinkColor: #ff6969;
$whiteColor: #ffffff;
$yellowColor: #ffda32;
$orangeColor: #ffa432;
$mintColor: #7bbcb0;


