@use "sass:math";
@import "fonts";
@import "reset";
@import "variables";
@import "mixins";
:root {
    --header-height: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Mulish", sans-serif;
    font-size: toRem(14);
    font-weight: 600;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}

[class$="__container"] {
    max-width: toRem($maxWidthContainer); //1380
    padding-inline: toRem($containerPadding);
    margin: 0 auto;
}
@import "common";
@import "header";
@import "main";
@import "footer";
